@charset "utf-8";
/* CSS Document */

/* <a> color */
.jx-navbar a {
	color: #337ab7;
}
.jx-navbar a:hover,
.jx-navbar a:focus {
	color: #23527c;
}
.jx-main .jx-url-list a {
	color: #337ab7;
}
.jx-main .jx-url-list a:hover,
.jx-main .jx-url-list a:focus {
	color: #23527c;
}
/* my css */
.jx-header {
}
.jx-footer {
	background: #272a30;
	min-height: 160px;
}
.jx-url-group,
.jx-search-group {
	margin-top: 15px;
}
.jx-url-group h2,
.jx-search-group h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	height: 26px;
	color: #103480;
}
.jx-url-group h2 {
	border-bottom: 2px solid #e5e5e5;
}
.jx-url-group h2 .title {
	border-bottom: 2px solid #3da9f7;
	float: left;
	display: block;
	min-height: 26px;
}
.jx-url-group h3 {
	font-size: 16px;
	color: #888;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	padding-left: 3px;
}
.jx-url-list {
	margin: 5px -5px -5px 0;
}
.jx-url-list:after {
	content: "";
	clear: both;
	display: table;
}
.jx-url-list>li {
	float: left;
	display: block;
	margin: 0 5px 5px 0;
}
.jx-url-list>li>a {
	display: block;
	border: #bbb solid 1px;
	margin: 0;
	padding: 2px 5px;
	font-size: 14px;
}
.jx-search-group .search-input-box {
	margin-bottom: 5px;
}
.modal span.red {
	color: #f22222;
	display: inline-block;
}

@media (max-width: 479px) {
}

@media (min-width: 480px) {
.jx-url-group h2,
.jx-search-group h2 {
	font-size: 22px;
	height: 28px;
}
.jx-url-group h2 .title {
	min-height: 28px;
}
.jx-url-group h3 {
	font-size: 17px;
}
.jx-url-list>li>a {
	font-size: 15px;
}
}

@media (min-width: 768px) {
.jx-url-group,
.jx-search-group {
	margin-top: 20px;
}
.jx-url-group h2,
.jx-search-group h2 {
	font-size: 24px;
	height: 32px;
}
.jx-url-group h2 .title {
	min-height: 32px;
}
.jx-url-group h3 {
	font-size: 18px;
}
.jx-url-list>li>a {
	font-size: 15px;
}
}

@media (min-width: 992px) {
.jx-url-group,
.jx-search-group {
	margin-top: 25px;
}
}
/* 调试模式 */
.test-preview-mode .jx-navbar .nav.nav-pills {
	background-color: rgba(0,0,0,.1);
}
.test-preview-mode .jx-url-group,
.test-preview-mode .jx-search-group {
	background-color: rgba(0,0,0,.3);
}
.test-preview-mode .jx-url-group h2,
.test-preview-mode .jx-url-group h3 {
	background-color: rgba(255,255,255,0.7);
}
.test-preview-mode .jx-url-list>li>a {
	border: #00F solid 1px;
}
.test-preview-mode .jx-main .jx-url-list a {
	color: #000;
}
/* 淡进淡出效果 */
.fade-effect .jx-navbar a {
	transition: all .25s linear;
}
