@charset "utf-8";
/* CSS Document */

/* my css */
.jx-header {
}
.li-loaded-pic-finish>a {
	color: red!important;
	font-size: 16px;
}
.jx-group-title h2 {
	margin-top: 25px;
	margin-bottom: 0;
}
.jx-group-title h2>small {
	display: inline-block;
}
.jx-group-body {
}
.jx-people {
	margin-top: 15px;
}
.jx-people-left,
.jx-people-right {
	display: table-cell;
	vertical-align: top;
}
.jx-people-left {
	padding-right: 10px;
}
.jx-people-left img {
	display: block;
	width: 100px;
}
.jx-people-right {
	width: 666px;
	overflow: hidden;
}
.jx-people-right .title {
	margin: 0 0 5px;
}
.jx-people-right p {
	margin: 0;
}
.jx-people-right .birthday:before {
	content: "生日：";
}
.jx-people-right .location:before {
	content: "来自：";
}
.jx-people-bottom {
	padding-bottom: 1px;
}
.jx-people-bottom:after {
	content: "";
	clear: both;
	display: table;
}
.jx-people-bottom li {
	display: block;
	float: left;
	margin: 5px 5px 0 0;
}
.jx-people-bottom a {
	display: block;
	padding: 2px 5px;
	border: #bbb solid 1px;
}
.jx-people-bottom .icon,
.jx-people-bottom .word {
	vertical-align: middle;
}
.jx-people-bottom .word {
	margin-left: 3px;
	font-size: 16px;
}
.jx-people-bottom .icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../img/icon.png);
	background-size: 600%;
}
.jx-people-bottom .fb .icon {
	background-position: -20px 0;
}
.jx-people-bottom .ig .icon {
	background-position: -40px 0;
}
.jx-people-bottom .yt .icon {
	background-position: -60px 0;
}

/* 不同的分辨率清除浮动 */
@media (max-width: 991px) and (min-width: 768px) {
.jx-group-body>div:nth-of-type(2n+1) {
	clear: left;
}
}

@media (min-width: 992px) {
.jx-group-body>div:nth-of-type(3n+1) {
	clear: left;
}
}

/* 调试模式 */
.test-preview-mode .jx-navbar .nav.nav-pills {
	background-color: rgba(0,0,0,.1);
}
.test-preview-mode .jx-group-title {
	background-color: rgba(0,0,0,.1);
}
.test-preview-mode .jx-people {
	background-color: rgba(0,0,0,.1);
}

/* 淡进淡出效果 */
.fade-effect .jx-navbar a {
	transition: all .25s linear;
}
